.contentDetailJadwalGuru {
  padding-top: 120px;
  text-align: center;
}

.contentDetailJadwalGuruImg {
  width: 280px;
}

.cardDetailJadwalGuru {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #585e84;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .contentDetailJadwalGuru {
    padding-top: 10px;
    width: 40%;
    margin: auto;
  }
}
